#containerHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/events_header.jpg");
    background-size: cover;
    background-position-y: -200px;
    height: 500px;
    width: auto;
    position: relative;
    margin-top: -60px;
}

#headerText {
    text-align: center;
    padding-top: 170px;
    color: white;
}

.navbar.solid {
    background-color: rgb(255, 255, 255);
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 20px rgb(221, 221, 221);
}

.nav-color {
    color: black;
}