/* ID's */

#containerHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/events_header.jpg");
    background-size: cover;
    height: 101vh;
    width: auto;
    margin-top: -60px;
}

#headerText {
    text-align: center;
    padding-top: 170px;
    color: white;
}

/* Classes */

.navbar.solid {
    animation: solid 1s normal forwards ease;
    box-shadow: 0 0 20px rgb(221, 221, 221);
}

.navbar.transparent {
    animation: transparent 1s normal forwards ease;
    box-shadow: transparent;
}

.nav-color {
    color: black;
}

/* Animations */

@keyframes solid {
    to {
        background-color: rgb(255, 255, 255);
    }
}

@keyframes transparent {
    to {
        background-color: transparent;
    }
}